<section class="sw-category-cards">
  <div class="sw-category-cards__o-container">
    <div class="sw-category-cards__o-row">
      {% for block in section.blocks %}
        {% if block.type == 'card_item' %}
          <div class="sw-category-cards__o-col-{{ section.settings.cards_columns }}">
            <div
              class="sw-category-cards__o-card sw-category-cards__o-card-align-hor-{{ block.settings.cards_column_alignment_horizontal }} sw-category-cards__o-card-align-ver-{{ block.settings.cards_column_alignment_vertical }}"
            >
              <img
                class="desk-img"
                src="{{ block.settings.background_image_desktop | img_url: 'master' }}"
                alt=""
                width="200"
                height="200"
                loading="lazy"
              >
              <img
                class="mob-img"
                src="{{ block.settings.background_image_mobile | img_url: 'master' }}"
                alt=""
                width="200"
                height="200"
                loading="lazy"
              >
              <h3>{{ block.settings.card_title }}</h3>
              <p>{{ block.settings.card_text_area }}</p>
              <a href="{{ block.settings.card_button_url }}">{{ block.settings.card_button_text }}</a>
            </div>
          </div>
        {% endif %}
      {% endfor %}
    </div>
  </div>
</section>
{% schema %}
{
  "name": "Categories cards",
  "settings": [
    {
      "type": "range",
      "id": "cards_columns",
      "min": 1,
      "max": 3,
      "step": 1,
      "default": 2,
      "label": "Number of columns on desktop"
    }
  ],
  "blocks": [
    {
      "name": "Card Item",
      "type": "card_item",
      "settings": [
        {
          "type": "select",
          "id": "cards_column_alignment_horizontal",
          "options": [
            {
              "value": "start",
              "label": "Left"
            },
            {
              "value": "center",
              "label": "Center"
            },
            {
              "value": "end",
              "label": "Right"
            }
          ],
          "default": "start",
          "label": "Horizontal Column Alignment"
        },
        {
          "type": "select",
          "id": "cards_column_alignment_vertical",
          "options": [
            {
              "value": "start",
              "label": "Top"
            },
            {
              "value": "center",
              "label": "Center"
            },
            {
              "value": "end",
              "label": "Bottom"
            }
          ],
          "default": "center",
          "label": "Vertical Column Alignment"
        },
        {
          "id": "background_image_desktop",
          "label": "Background Image For Desktop",
          "type": "image_picker"
        },
        {
          "id": "background_image_mobile",
          "label": "Background Image For Mobile",
          "type": "image_picker"
        },
        {
          "id": "card_title",
          "label": "Title",
          "type": "text"
        },
        {
          "id": "card_text_area",
          "label": "Content",
          "type": "textarea"
        },
        {
          "id": "card_button_text",
          "label": "Button Text",
          "type": "text"
        },
        {
          "id": "card_button_url",
          "label": "Button Url",
          "type": "url"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Categories Cards",
      "category": "Categories Cards"
    }
  ]
}
{% endschema %}

{% style %}
  .sw-category-cards__o-container {
    max-width: 1450px;
    margin: 0 auto;
    padding-right: 15px;
    padding-left: 15px;
  }

  .sw-category-cards__o-row {
    margin-left: -15px;
    margin-right: -15px;
    display: flex;
    flex-wrap: wrap;
  }
  .sw-category-cards__o-col-1 {
    flex: 0 0 100%;
    padding-right: 10px;
    padding-left: 10px;
    margin-bottom: 20px;
  }
  .sw-category-cards__o-col-2 {
    flex: 0 0 50%;
    padding-right: 10px;
    padding-left: 10px;
    margin-bottom: 20px;
  }
  .sw-category-cards__o-col-3 {
    flex: 0 0 33.33%;
    padding-right: 10px;
    padding-left: 10px;
    margin: 0 0 20px;
  }
  section.sw-category-cards a {
    text-decoration: none;
  }
  .sw-category-cards__o-card {
    height: 645px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 50px;
    box-sizing: border-box;
    position: relative;
  }
  .sw-category-cards__o-card img.desk-img {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    z-index: -1;
    height: 645px;
    object-fit: cover;
  }
  .sw-category-cards__o-card img.mob-img {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    z-index: -1;
    display: none;
    height: 645px;
    object-fit: cover;
  }
  .sw-category-cards__o-card-align-hor-start {
    align-items: start;
    text-align: start;
  }
  .sw-category-cards__o-card-align-hor-center {
    align-items: center;
    text-align: center;
  }
  .sw-category-cards__o-card-align-hor-end {
    align-items: end;
    text-align: end;
  }
  .sw-category-cards__o-card-align-ver-start {
    justify-content: start;
  }
  .sw-category-cards__o-card-align-ver-center {
    justify-content: center;
  }
  .sw-category-cards__o-card-align-ver-end {
    justify-content: end;
  }
  section.sw-category-cards h3 {
    font-size: 35px;
    font-weight: 600;
    line-height: 35px;
    margin: 0 0 15px;
  }

  section.sw-category-cards p {
    font-size: 16px;
    margin: 0 0 15px;
    max-width: 280px;
    line-height: 22px;
    color: #000000;
  }

  section.sw-category-cards a {
    font-size: 16px;
    text-transform: uppercase;
    color: white;
    background-color: black;
    display: inline-block;
    width: 110px;
    text-align: center;
    line-height: 45px;
    font-weight: bold;
    transition: all 0.5s ease;
  }

  section.sw-category-cards a:hover {
    background-color: #323232;
  }
  @media screen and (max-width: 600px) {
    .sw-category-cards__o-col-2 {
      flex: 0 0 100%;
      padding-right: 10px;
      padding-left: 10px;
      margin-bottom: 20px;
    }
    .sw-category-cards__o-col-3 {
      flex: 0 0 100%;
      padding-right: 10px;
      padding-left: 10px;
      margin: 0 0 20px;
    }
    .sw-category-cards__o-card img.desk-img {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    z-index: -1;
    height: 645px;
    object-fit: cover;
    display: none;
  }
  .sw-category-cards__o-card img.mob-img {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    z-index: -1;
    display: block;
    height: 645px;
    object-fit: cover;
  }
  }
{% endstyle %}
